<%- include('partials/header.ejs',{ hide : true,user : false }) %>

<div class="main">
  <div class="left">
    <div class="side">
      <a class="nav-link" href="">Attendence</a>
    </div>
    <div class="side">
      <a class="nav-link" href="">complaint</a>
    </div>
    <div class="side">
      <a class="nav-link" href="">Change Menu</a>
    </div>
    <div class="side">
      <a class="nav-link" href="">information</a>
    </div>
  </div>
  <div class="right">
    <div class="upper">
      <div class="uppercontent">hello</div>
      <div class="uppercontent">MM</div>
      <div class="uppercontent">Gore</div>
    </div>
    <div class="lower">
      <div class="inside">
        <div class="lleft">
          <h5 style="margin-left: 2rem">User</h5>
          <% if (complaints.length > 0) { %> <% complaints.forEach(complaint =>
          { %>
          <div class="complaints">
            <div class="newcomplaint">
              <h5><%= complaint.username %></h5>
            </div>
          </div>
          <% }); %> <% } else { %>
          <p>No User found.</p>
          <% } %>
        </div>
        <div class="lright">
          <h6 style="margin-left: 1rem">Complaints</h6>
          <% if (complaints.length > 0) { %> <% complaints.forEach(complaint =>
          { %>
          <div class="complaints">
            <div class="newcomplaint">
              <h5><%= complaint.complaint %></h5>
            </div>
            <div class="tick">
              <input type="checkbox" name="solve" id="tick" />
            </div>
          </div>
          <% }); %> <% } else { %>
          <p>No complaints found.</p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
