<%- include('partials/header.ejs',{ hide : true,user : false }) %>

<div class="main">
  <div class="left">
    <div class="side">
      <a class="nav-link" href="">Attendence</a>
    </div>
    <div class="side">
      <a class="nav-link" href="">complaint</a>
    </div>
    <div class="side">
      <a class="nav-link" href="">Change Menu</a>
    </div>
    <div class="side">
      <a class="nav-link" href="">information</a>
    </div>
  </div>
  <div class="right">
    <div class="upper">
      <div class="uppercontent">hello</div>
      <div class="uppercontent">MM</div>
      <div class="uppercontent">Gore</div>
    </div>
    <div class="lower">
      <p>User complaints</p>
      <% if (complaints.length > 0) { %> <% complaints.forEach(complaint => { %>
      <div class="complaints">
        <div class="newcomplaint">
          <h4><%= complaint.username %></h4>
        </div>
      </div>
      <% }); %> <% } else { %>
      <p>No complaints found.</p>
      <% } %>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
