<%- include('partials/header.ejs',{ hide : true,user : false }) %>

<div class="main">
  <div class="left">
    <div class="side">
      <a class="nav-link" href="">Attendence</a>
    </div>
    <div class="side">
      <a class="nav-link" href="">complaint</a>
    </div>
    <div class="side">
      <a class="nav-link" href="">Change Menu</a>
    </div>
    <div class="side">
      <a class="nav-link" href="">information</a>
    </div>
  </div>
  <div class="right">
    <div class="adminabove">
      <div class="uppercontent">hello</div>
      <div class="uppercontent">MM</div>
      <div class="uppercontent">Gore</div>
    </div>
    <div class="lower">
      <div class="scrollable-container">
        <div class="llower">
          <div class="use">User</div>
          <div class="comp">User's Complaint</div>
        </div>
        <% if (complaints.length>0) { %> <% complaints.forEach(complaint => { %>
        <div class="complaints scrollable-content">
          <div class="user"><%= complaint.username %></div>
          <div class="usercomplaint"><%= complaint.complaint %></div>
          <div class="tick1"><input type="checkbox" /></div>
          <div class="tick2"><input type="checkbox" /></div>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
