<%- include('partials/header.ejs') %>

<div class="image" style="background-color:thistle;">
    <img src="/images/mess.jpg" style="width: 100%; height: 419px;" />
    <!-- <div class="center"><p>Add a Complaint!</p></div> -->
</div>

<%- include('partials/footer') %>
