<%- include('partials/header.ejs') %>

<div class="image">
    <img src="/images/wallpaper.jpg" style="width: 100%; height: 440px;" />
    <!-- <div class="center"><p>Add a Complaint!</p></div> -->
</div>

</body>
</html>
