<%- include('partials/header.ejs',{ hide : true ,user : true}) %>

<div class="container">
    <h1 class="text-center my-4">Mess Routine</h1>
    <table class="table table-bordered routine-table">
      <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">Breakfast</th>
          <th scope="col">Lunch</th>
          <th scope="col">Snacks</th>
          <th scope="col">Dinner</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="day-column">Monday</th>
          <td>Pancakes</td>
          <td>Grilled Chicken</td>
          <td>Samosa</td>
          <td>Spaghetti</td>
        </tr>
        <tr>
          <th scope="row" class="day-column">Tuesday</th>
          <td>Omelette</td>
          <td>Fish Curry</td>
          <td>Fruit Salad</td>
          <td>Butter Chicken</td>
        </tr>
        <tr>
          <th scope="row" class="day-column">Wednesday</th>
          <td>French Toast</td>
          <td>Veg Biryani</td>
          <td>Spring Rolls</td>
          <td>Paneer Butter Masala</td>
        </tr>
        <tr>
          <th scope="row" class="day-column">Thursday</th>
          <td>Idli</td>
          <td>Chole Bhature</td>
          <td>Cookies</td>
          <td>Pizza</td>
        </tr>
        <tr>
          <th scope="row" class="day-column">Friday</th>
          <td>Paratha</td>
          <td>Chicken Biryani</td>
          <td>Ice Cream</td>
          <td>Grilled Fish</td>
        </tr>
        <tr>
          <th scope="row" class="day-column">Saturday</th>
          <td>Poori Bhaji</td>
          <td>Dal Makhani</td>
          <td>Nachos</td>
          <td>Burger</td>
        </tr>
        <tr>
          <th scope="row" class="day-column">Sunday</th>
          <td>Pancakes</td>
          <td>Butter Chicken</td>
          <td>Pastries</td>
          <td>Chinese Noodles</td>
        </tr>
      </tbody>
    </table>
  </div>