<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header.ejs',{ hide : true }) %>

    <div class="main">
        <div class="left">
                <div class="side">
                    <a class="nav-link" href="">Attendence</a>
                </div>
                <div class="side"> 
                    <a class="nav-link" href="/complaint">complaint</a>
                </div>
                <div class="side">
                    <a class="nav-link" href="">Your plan</a>
                </div>
                <div class="side"> 
                    <a class="nav-link" href="">User Menu</a>
                </div>
                <div class="side"> 
                    <a class="nav-link" href="">information</a>
                </div>
        </div>
        <div class="right">
            <div class="upper">
                <div class="uppercontent">hello</div>
                <div class="uppercontent">world</div>
                <div class="uppercontent">ayush</div>
            </div>
            <div class="lower">
                <p>
                    <p>your complaints are:-</p>
                    <% if (complaints.length > 0) { %>
                        <ul>
                            <% complaints.forEach(complaint => { %>
                                <li><%= complaint.complaint %></li>
                            <% }); %>
                        </ul>
                    <% } else { %>
                        <p>No complaints found.</p>
                    <% } %>
                </p>
            </div>
        </div>
    </div>
</body>
</html>

    