<%- include('partials/header.ejs') %>

    <div class="main">
        <div class="left">
            <div>hello</div>
            <div>world</div>
            <div>ayush</div>
        </div>
        <div class="right">
            <div class="upper">
                <div class="uppercontent">hello</div>
                <div class="uppercontent">world</div>
                <div class="uppercontent">ayush</div>
            </div>
            <div class="lower">

            </div>
        </div>
    </div>

<%- include('partials/footer') %>