.contain {
  position: relative;
}
/* 
.image{
  display:  block;
  margin-left: 0;
  margin-right: auto;
  width: 70%;
} */

.block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.login-image {
  border-radius: 1rem 0 0 1rem;
  height: 100%;
}
.logo {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.main {
  display: flex;
  height: 31.1rem;
}
.left {
  width: 15%;
  background-color: rgb(250, 238, 222);
}
.right {
  width: 85%;
}
.upper {
  display: flex;
  background-color: silver;
  flex-direction: row;
  justify-content: space-around;
  height: 20%;
}

.lower {
  height: 75%;
}

.uppercontent {
  width: 10rem;
  text-align: center;
}

.area {
  margin-left: 15rem;
  height: 10rem;
  width: 50%;
  padding: 3px;
}

.side {
  height: 2.5rem;
  font-size: large;
  padding: 1rem;
  /* margin-left: 1rem; */
  /* margin: 1rem 1rem 0 0; */
}

.submit {
  margin-left: 20rem;
  background-color: wheat;
  /* margin-bottom: 3rem; */
  padding: 3px;
}

.comment {
  margin-left: 20rem;
  padding: 2px;
  font-size: large;
  background-color: bisque;
  width: 15%;
}

.complaints
{
  display: flex;
  flex-direction: row;
}
.newcomplaint
{
  height: 3rem;
  width: 65%;
}
.vote
{
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.thumb
{
  height: 2rem;
  width: 2rem;
  border-radius: 20%;
}
h5
{
  display: inline;
  margin-left: .5rem;
}