.contain {
  position: relative;
}

.image {
  margin-right: 2rem;
}

.block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.login-image {
  border-radius: 1rem 0 0 1rem;
  height: 100%;
}
.logo {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.main {
  display: flex;
  height: 31.1rem;
}
.left {
  width: 15%;
  background-color: rgb(250, 238, 222);
}
.right {
  width: 85%;
}

.above {
  background-color: silver;
  height: 25%;
}

.let {
  padding-top: 1rem;
  margin-left: 2rem;
  font-size: large;
  font-weight: 900;
}

.upper {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.leftdesign {
  width: 5%;
}

.rightdesign {
  width: 90%;
}

.lower {
  height: 75%;
  padding: 2rem;
}

.lleft {
  width: 25%;
}

.lright {
  width: 75%;
}

.uppercontent {
  width: 10rem;
  text-align: center;
  display: flex;
  height: 3rem;
}
/* .uppercontent {
  
} */

.adminabove {
  display: flex;
  background-color: #ccc;
  height: 25%;
  justify-content: space-around;
}

.area {
  margin-left: 15rem;
  height: 10rem;
  width: 50%;
  padding: 3px;
}

.side {
  height: 2.5rem;
  font-size: large;
  padding: 1rem;
  /* margin-left: 1rem; */
  /* margin: 1rem 1rem 0 0; */
}

.submit {
  margin-left: 20rem;
  background-color: wheat;
  /* margin-bottom: 3rem; */
  padding: 3px;
}

.comment {
  margin-left: 20rem;
  padding: 2px;
  font-size: large;
  background-color: bisque;
  width: 15%;
}

.complaints {
  display: flex;
  flex-direction: row;
}
.newcomplaint {
  height: 3rem;
  width: 65%;
}
.vote {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.thumb {
  height: 2rem;
  width: 2rem;
  border-radius: 20%;
}
.upvote {
  text-align: center;
}
.complaint-image {
  height: 3rem;
  width: 3rem;
}
.line {
  display: inline;
  margin-left: 0.5rem;
}

/* scrollable window */
.scrollable-container {
  width: 100%; /* Set a fixed width or use a percentage */
  height: 100%; /* Set a fixed height or use a percentage */
  overflow: auto; /* Enable scrolling */
  border: 1px solid #ccc; /* Optional: Add a border for visual clarity */
}

.scrollable-content {
  padding: 1rem;
  margin: 0;
}

.user {
  width: 15%;
}

.usercomplaint {
  width: 45%;
}

.tick1 {
  width: 10%;
}

.tick2 {
  width: 5%;
}

.llower {
  display: flex;
}

.use {
}

/* status of the comlaint button style */
.status {
  height: 1rem;
  width: 5rem;
  text-align: center;
  font-size: 60%;
  margin-top: 1rem;
  margin-left: 3rem;
  font-weight: bolder;
  border-radius: 10%;
}
